.imgheader{
	width: 200px;

}
.imgheader2{
	width: 200px;
	height: 130px;

}
.imgwelcome{
	width: 290px;
	height: 200px;
}
.imghome{
	width:  250px;
}
footer{
	background-color: #000;
}
.row1{
	background-color: khaki;
	margin-top: 5px;
}
.row0{
   margin: 0px;
   background-color: khaki;
}
.col-md-3 a{
	font-size: 1.25em;
	font-family:'lato';
	text-decoration: none;
	color: #000;
	margin-left: 10px;
}
.col-md-3 a:hover{
	color: #fff;

}